<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form role="form" action="/admin/evenements/update/{{evenement.idevenement}}" method="post">
                    <div class="form-group">
                        <h4>Edition de l'événement</h4><br><br>
                        <label for="exampleInputEmail1">
                            Nom de l'even.
                        </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" value="{{evenement.nom}}"
                            required name="nom" id="nom" />
                        <label for="exampleInputEmail1">
                            Date Even.
                        </label>
                        <input type="datetime-local" class="form-control" id="exampleInputEmail1"
                            value="{{evenement.dateevenement}}" required name="dateevenement" id="dateevenement" />
                        <label for="exampleInputEmail1">
                            Adresse
                        </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" value="{{evenement.adresse}}"
                            required name="adresse" id="adresse" />
                        <label for="exampleInputEmail1">
                            Ville
                        </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" value="{{evenement.ville}}"
                            required name="ville" id="ville" />
                        <label for="exampleInputEmail1">
                            Code Postal
                        </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" value="{{evenement.cp}}"
                            required maxlength="5" name="cp" id="cp" />
                        <label for="exampleInputEmail1">
                            Résumé
                        </label>
                        <textarea type="textarea" class="form-control" id="exampleInputEmail1" required maxlength="300"
                            name="resume" id="resume" />{{evenement.resume}}</textarea><br>
                        <select name="groupe" id="groupe">
                            <option value="">- Choix du groupe -</option>
                            {{#each groupe}}
                            <option value="{{this.idgroupe}}">{{this.titre}}</option>
                            {{/each}}
                        </select>

                    </div>

                    <button type="submit" class="btn btn-primary">
                        Modifier
                    </button>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>